.main_item_list, .main_cart {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px !important;
}
/* 
.main_item_show {
    margin: 100px 5vw 0 5vw;
} */


.list_scroll {
    margin: 5px 5vw 80px 5vw;
    padding: 20px;
    width: 100%;
}
.main_item_list::-webkit-scrollbar, .list_scroll::-webkit-scrollbar { display: none; }

/*#region list*/
.main_item_list {
    text-align: center;
    justify-content: center;
    margin: 5px 5vw 0 5vw;
    padding: 20px;
    /* overflow: scroll; */
    /* height: 85.5vh; */
}
.item {
    margin: 10px;
    padding: 10px;
    background-color: rgba(160, 95, 95, 0.5);
    border-radius: 5px;
    transition: background-color 0.1s;
    width: 260px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.1s, box-shadow 0.1s, height 0.1s, margin-bottom 0.1s;
}

.item:hover {
    z-index: 1;
    background-color: pink;
    box-shadow: 0 0 1vw 0 pink;
    height: 350px;
    margin-bottom: -350px;
}

.item_misc {
    display: flex;
}
.item_quantity {
    margin-right: auto;
}
.atc{
    margin-left: auto;
    cursor: pointer;
    transition: background 0.1s, box-shadow 0.1s;
}
.item_misc button:hover, .atc:hover  {
    background: pink;
    box-shadow: 0 0 0.5vw 0 black;
}

.item_misc button {
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: 0;
}

.item_quantity input {
    border: none;
    margin: 0 -5px 0 -5px;
    width: 30px;
    text-align: center;
}
.item_quantity input::-webkit-inner-spin-button,
.item_quantity input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    text-shadow: 0 0 5px white;
}

.price {
    color: red;
    font-size: 17px;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 0 2px black;
}
/*#endregion list*/

/*#region item show*/
.cl {
    background-color: rgba(160, 95, 95, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    overflow: hidden;
}
#item_current {
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin-right: 50px;
    object-fit: cover;
}
.info_title {
    font-size: 2.5vw;
    margin-bottom: 30px;
    text-shadow: 0 0 5px white;
}
.info_price {
    font-size: 40px;
    color: red;
    text-shadow: 0 0 5px black;
}
.txt {
    font-size: 25px;
    color: gray
}
/* #quantity {
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0 0 10px;
} */
.info { position: relative; }
.info_active {
    position: absolute;
    top: 320px;
}
.info_button {
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    background: rgb(200, 200, 200);
    cursor: pointer;
    transition: background 0.1s, box-shadow 0.1s;
}
.info_button:hover {
    background: pink;
    box-shadow: 0 0 0.5vw 0 pink;
}
/*#endregion item show*/

/*#region cart*/
.main_cart {
    margin: 0 5vw 0 5vw;
    padding: 20px;
}
.mc {
    height: fit-content;
    background-color: rgba(160, 95, 95, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.mc img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
}
.cart_title {
    font-size: 1.5vw;
    width: 30%;
    padding: 5px;
}
.cart_price {
    color: red;
    text-shadow: 0 0 5px black;
    width: 10%;
    font-size: 1.5vw;
    margin-right: 20px;
}
.mc label {
    font-size: 17px;
    color: white;
    margin-right: 10px;
}
#cart_quantity {
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    margin-right: 30px;
}
.cart_total_price {
    position: absolute;
    right: 15%;
    color: red;
    text-shadow: 0 0 5px black;
    font-size: 1.5vw;
}
.mc button {
    position: absolute;
    height: 85%;
    width: 10%;
    right: 15px;
    font-size: 1.5vw;
    border: none;
    border-radius: 10px;
    background: rgb(200, 200, 200);
    transition: background 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
.mc button:hover {
    background: pink;
    box-shadow: 0 0 0.5vw 0 pink;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: white;
}
.placeholder button {
    height: 50px;
    width: 150px;
    right: 15px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background: rgb(200, 200, 200);
    transition: background 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
.placeholder button:hover {
    background: pink;
    box-shadow: 0 0 0.5vw 0 pink;
}

.bottom_cart_info {
    position:fixed;
    bottom: 20px;
    width: 89vw;
}

.cart_all_total {
    position: relative;
    background: rgb(230, 230, 230);
    display: flex;
    height: 50px;
    border-radius: .5vw;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 1vw 0 black;
}

#checkout {
    position: absolute;
    height: 50px;
    width: 150px;
    right: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: rgb(200, 200, 200);
    transition: background 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
#checkout:hover {
    box-shadow: 0 0 0.5vw 0 black;
    background: pink;
}
/*#endregion cart*/

/*#region receipt*/
.receipt {
    text-align: center;
}
.list_receipt {
    display: flex;
    position: relative;
}
.list_receipt_title {
    text-align: left;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_receipt_price {
    position: absolute;
    right: 0;
}
/*#endregion receipt*/