* {
    margin: 0;
    font-family: Tahoma;
}

[data-show="1"] {
    display: block;
}
[data-show="0"] {
    display: none !important;
}

[nbr]
{
    user-select: none;
    pointer-events: none;
}

body {
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}

.bg {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(255, 86, 115), black 100%);
}

.cart_add_notif {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 1;
    transition: opacity 2s;
}